@use "mixins";

$color-white: white;
$color-orange: orange;
$color-black: black;
$color-coral: coral;
$color-sand: rgba(250, 207, 154, 0.336);
$color-blue: #4169e1;
$color-orange-light: rgba(255, 166, 0, 0.664);

$color-blue-light: #608dc9;
$color-blue-lighter: rgb(223, 239, 253);

* {
  @include mixins.pd-mg-default(0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: $color-sand;
}

header {
  background: $color-sand;
  height: 50%;
  padding-top: 0.5rem;
  @include mixins.breakpoint(medium) {
    height: 90%;
  }
  nav {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    // padding: 1rem;
    @include mixins.py(0.5rem, 0.5rem);
    @include mixins.breakpoint(medium) {
      width: 90%;
      grid-template-columns: 3fr 1fr;
      height: 70%;
    }
    @include mixins.breakpoint(small) {
      width: 90%;
      grid-template-columns: 4fr 1fr;
      height: 50%;
    }
    // justify-content: space-between;
    .nav-menu {
      width: 100%;
      height: 55%;
      display: flex;
      align-items: center;
      justify-content: center;
      // gap: 1rem;
      // @include mixins.mx(0.5rem, 0.5rem);
      // @include mixins.px(0.5rem, 0.5rem);
      background-color: $color-blue-lighter;
      border-radius: 10px;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      @include mixins.breakpoint(medium) {
        flex-direction: column;
        height: 100%;
        @include mixins.py(0.2rem, 0.2rem);
        @include mixins.px(0, 0);
      }
      @include mixins.breakpoint(small) {
        flex-direction: column;
        height: 100%;
        width: 100%;
        @include mixins.py(0.2rem, 0.2rem);
        @include mixins.px(0, 0);
      }
    }

    button {
      background-color: transparent;
      justify-content: flex-end;
      border: none;
      justify-content: space-between;
      // gap: 1rem;
      padding: 0.5rem;
      border-radius: 10px;
      cursor: pointer;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        background-color: $color-sand;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
      a {
        text-decoration: none;
        font-size: 1rem;
        color: $color-blue;
        font-weight: bold;
      }
    }
  }
  .Logo {
    display: grid;
    grid-template-columns: 15% 85%;
    @include mixins.breakpoint(medium) {
      grid-template-columns: 20% 80%;
    }
    @include mixins.breakpoint(small) {
      width: 60px;
    }
    .logo-img {
      display: flex;
      align-items: center;
      @include mixins.px(0, 1rem);
      img {
        width: 90px;
        // @include mixins.mx(1rem, 1rem);
        @include mixins.breakpoint(medium) {
          width: 90px;
        }
        @include mixins.breakpoint(small) {
          width: 60px;
        }
      }
    }
    .title {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      @include mixins.px(1rem, 1rem);
      @include mixins.mx(0.5rem, 1rem);
      justify-content: center;
      h1 {
        font-size: 1.5rem;

        color: $color-blue;
        font-weight: 900;
        @include mixins.breakpoint(medium) {
          font-size: 1.3rem;
        }
        @include mixins.breakpoint(small) {
          font-size: 1.2rem;
        }
      }
      p {
        font-size: 1rem;
        color: $color-blue;
        font-weight: 500;
        @include mixins.breakpoint(medium) {
          font-size: 0.9rem;
        }
        @include mixins.breakpoint(small) {
          display: none;
        }
      }
    }
  }
}

.home {
  width: 85%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  .main {
    display: grid;
    grid-template-columns: 65% 35%;
    @include mixins.py(2rem, 0.5rem);
    .noticias {
      width: 100%;
      height: fit-content;
      border-radius: 10px;
      justify-content: end;
      @include mixins.px(1rem, 0);
      .noticias-main {
        border-radius: 10px;
        background-color: $color-orange-light;
        transition: transform 0.3s, box-shadow 0.3s;
        margin: 0 auto;
        
        &:hover {
          transform: translateY(-10px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        h3 {
          font-size: 1.4rem;
        }
        .noticias-item {
          @include mixins.py(1rem, 1.5rem);
          @include mixins.px(1rem, 1rem);
          @include mixins.my(0, 1rem);
        //   width: 85%;
          margin: 0 auto;
          justify-content: center;
          align-items: center;
          border-radius: 10px;
          text-align: justify;
          .noticias-image {
            width: 100%;
            img {
              width: 100%;
              margin: 0 auto;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              @include mixins.my(0, 1rem);
            }
          }
        }
      }
    }
    .content {
      width: 100%;
      @include mixins.px(0, 1rem);
      @include mixins.py(0, 1rem);
      gap: 1rem;
      display: grid;
      grid-template-rows: 20% 80%;
      video {
        border-radius: 10px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .boxes {
        .box-A,
        .box-B {
          width: 100%;

          h3 {
            font-size: 1.6rem;
            @include mixins.py(1rem, 0.5rem);
          }
          p {
            text-align: justify;
            font-size: 1.1rem;
            @include mixins.py(0.5rem, 0.5rem);
          }
        }
        .box-A {
          img {
            width: 100%;
            border-radius: 10px;
            // @include mixins.py(1rem, 1rem);
          }
        }
      }
    }
  }
}
.login {
  width: 85%;
  margin: 0 auto;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  @include mixins.py(1rem, 1rem);
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .login-content {
      display: grid;
      // grid-template-columns: 1fr 1fr;
      width: 90%;
      margin: 0 auto;
      background-color: $color-blue-light;
      padding: 1rem;
      border-radius: 10px;
      gap: 1rem;
      text-align: center;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        input,
        button {
          border: none;
          border-radius: 10px;
          text-align: center;
          background-color: white;
        }
        button {
          background-color: $color-orange;
          padding: 0.5rem;
        }
      }
      .btn-google {
        width: 100%;
        justify-content: center;
        // padding-left: 26%;
        @include mixins.px(29%, 15%);
      }
      .login-google {
        @include mixins.py(0.5rem, 0.5rem);
        border-radius: 10px;
        background-color: $color-white;
        justify-content: center;
        align-items: center;
        width: 101%;
        img {
          border-radius: 10px;
        }
      }
    }
  }
}
.sobre {
  width: 85%;
  margin: 0 auto;
  @include mixins.py(1rem, 1rem);
  .sobre-content {
    @include mixins.py(1rem, 1rem);
    display: grid;
    grid-template-columns: 1fr 1fr;

    column-gap: 2rem;
    // justify-content: center;
    // align-items: center;
    div {
      img {
        width: 100%;
        border-radius: 10px;
      }

      p {
        text-align: justify;
        height: fit-content;
      }
    }
    .circuito {
      width: 100%;
      padding-left: 25%;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      height: 100%;
      img {
        width: 70%;
        height: 100%;
        margin: 0 auto;
      }
    }
  }
  .faq {
    @include mixins.py(1rem, 1rem);
    text-align: center;
    .faq-section {
      display: grid;
      width: 80%;
      margin: 0 auto;
      .faq-item {
        column-gap: 1rem;
        background-color: $color-blue;
        @include mixins.py(3rem, 3rem);
        @include mixins.px(1.5rem, 1.5rem);
        border-radius: 10px;
        text-align: justify;
        .faq-card {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}
.contato {
  width: 85%;
  margin: 0 auto;
  @include mixins.py(1rem, 1rem);
  .contato-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 1rem;

    .contato-card {
      background-color: transparent;
      border: none;
      height: fit-content;
      .contato-item {
        @include mixins.py(1rem, 1rem);
        // @include mixins.px(1.5rem, 1.5rem);
        background-color: $color-orange;
        gap: 1.5rem;
        @include mixins.my(1rem, 1rem);
        text-align: justify;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
        text-align: center;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
        .contato-carousel {
          @include mixins.px(3rem, 3rem);
          @include mixins.py(2rem, 2rem);
          .topic {
            color: $color-blue-lighter;
            text-align: center;
          }
        }
      }
    }
  }
  .engajamento-comunitario-section {
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    .volutariados {
      @include mixins.py(1rem, 1rem);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1rem;
      .volutariados-card {
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: transparent;
        @include mixins.py(1rem, 1rem);
        border: none;

        .text {
          text-align: justify;
          @include mixins.py(1rem, 1rem);
        }
        img {
          @include mixins.py(1rem, 1rem);
          width: 100%;
        }
        .card-A {
          background-color: $color-orange;
          border-radius: 10px;
          a {
            background-color: $color-blue;
          }
        }
        .card-B {
            color: $color-white;
          background-color: $color-blue;
          border-radius: 10px;
          a {
            background-color: $color-orange;
          }
        }
        a {
          text-decoration: none;
          padding: 1rem;
          border-radius: 10px;
          color: $color-white;
        }
      }
    }
    .eventos-section{
        background-color: $color-blue-light;
        @include mixins.py(1rem, 1rem);
        border-radius: 10px;
        .eventos-item{
            @include mixins.py(1rem, 1rem);
            @include mixins.px(1rem, 1rem);
            
            width: 70%;
            margin: 0 auto;
        }
    }
  }
}

footer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  background-color: $color-sand;
  @include mixins.py(1rem, 1rem);
  .footer {
    width: 85%;
    margin: 0 auto;
    p {
      text-align: center;
      padding-bottom: 0.5rem;
    }
    .parceiros-content {
      @include mixins.py(0.5rem, 0.5rem);
      align-items: center;
      display: flex;
      margin: 0 auto;
      width: 100%;
      height: 80%;
      justify-content: center;
      align-content: center;
      .logo-parceiros {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        align-content: center;
        @include mixins.px(0.5rem, 0.5rem);
        @include mixins.px(0.5rem, 0.5rem);
        img {
          width: 100%;
          @include mixins.px(0.5rem, 0.5rem);
          height: fit-content;
        }
      }
    }
    .equipe {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @include mixins.py(0.5rem, 0.5rem);
      a {
        width: 100%;
        margin: 0 auto;
        margin-right: 1rem;
        text-decoration: none;
        text-align: center;
        color: $color-black;
        gap: 1rem;
      }
    }
  }
}
